<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
          rel="stylesheet"/>
    <title>Kredit Xətti Müqaviləsi</title>
    <style>
        body {
              font-family: "Roboto", sans-serif;
                font-size: 7px;
             line-height: 1.6;
             margin: 20px auto;
             max-width: 800px;
         }
                         .container {
            margin: 20px auto;
            max-width: 900px;
            padding: 20px;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            margin-bottom: 30px;
        }

        .header img {
            height: 80px; /* Logo size */
        }

        .header-title {
            text-align: center;
            flex: 1;
        }

        .header-title h1 {
            margin: 0;
            font-size: 20px;
            font-weight: 700;
        }

        .header-title h2 {
            margin: 0;
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
        }
            h1, h2 {
                text-align: center;
            }
         .section-title {
             font-weight: bold;
             text-transform: uppercase;
             text-align: center;
             margin: 20px 0 10px;
             font-size: 1.1em;
             padding-bottom: 5px;
         }
         .content-item {
             display: flex;
             justify-content: space-between;
             margin-bottom: 10px;
         }
         .label {
             font-weight: bold;
             color: #444;
             min-width: 250px;
         }
         .value {
             color: #000;
             flex-grow: 1;
         }

         .note {
            font-style: italic;
            text-align: center; /* Align text to center */
            margin-top: 50px;
            border-top: 1px solid #000; /* Top border line */
            padding-top: 10px; /* Add some spacing above the text */
        }

        .note .underline {
            display: inline-block;
            text-decoration: underline; /* Underline the text */
            text-align: center; /* Ensure the text inside is centered */
        }


        .signature-section {
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
            text-align: center;
            font-weight: bold;
        }
        .signature-box {
            width: 45%;
            padding: 10px;
            border-top: 1px solid #000;
        }
       .rekvizit-table {
            display: grid;
            grid-template-columns: 1fr 1fr;
            border: 1px solid #ccc;
        }
        .left-box, .right-box {
            padding: 15px;
            border: 1px solid #ccc;
        }
        .left-box {
            border-right: none;
        }
        .left-box h3, .right-box h3 {
            margin: 0 0 10px;
            font-weight: bold;
            text-decoration: underline;
        }
        p {
            margin: 5px 0;
        }
        .bold {
            font-weight: bold;
        }
        .underline {
            text-decoration: underline;
        }
        .signature {
            margin-top: 20px;
            text-align: center;
            font-weight: bold;
        }
        .signature-line {
            display: inline-block;
            width: 60%;
            border-bottom: 1px solid #fff;
            margin-top: 5px;
        }

         table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            text-align: left;
            padding: 8px;
        }
        .title {
            font-weight: bold;
        }
        .highlight {
            font-weight: bold;
        }
        .separator {
            padding: 0 10px;
            color: #aaa;
        }
    </style>
</head>
<body>
<!-- Header Section -->
<div class="header">
    <img src="img.png" alt="Ideal Kredit Logo"/> <!-- Replace with your logo path -->
    <div class="header-title">
        <h1>"İDEAL KREDİT" BOKT MMC</h1>
        <h2>Kredit Xətti Müqaviləsi № 09/745-2023</h2>
    </div>
    <div></div>
</div>


<div style="display:flex; justify-content: space-between;">
    <p><strong>Bakı şəhəri</strong></p>
    <p><strong>${requestDate}</strong></p>
</div>
<p>
    Əsasnamə və Etibarnamə əsasında fəaliyyət göstərən (gələcəkdə "BOKT" adlanacaq) BOKT “İDEAL KREDİT” MMC-nin
    direktoru Qubadov Qubad Baxas oğlu şəxsində bir tərəfdən, gələcəkdə "Borcalan" adlanacaq fiziki şəxs
    <strong>${requestedUser.fullName}</strong> şəxsində digər tərəfdən, (birlikdə "Tərəflər" adlanacaq) aşağıdakılar
    barədə
    razılığa gələrək bu müqaviləni bağladılar.
</p>
<div class="section-title">1. ÜMUMİ ANLAYIŞLAR</div>


<table>
    <tr>
        <td class="title">BOKT</td>
        <td>- Qüvvədə olan qanunvericiliyə uyğun kreditlər verən Bank Olmayan Kredit Təşkilatı “İDEAL KREDİT” MMC</td>
    </tr>
    <tr>
        <td class="title">Borcalan</td>
        <td>
            Fiziki şəxs <span class="highlight">${requestedUser.fullName}</span> <span class="separator">|</span>
            Ş/V № <span class="highlight">${requestedUser.seriaNo}</span> <span class="separator">|</span>
            verilib: <span class="highlight">${requestedUser.eventDate}</span>
        </td>
    </tr>
    <tr>
        <td class="title">Kredit xəttinin məbləği</td>
        <td>${creditAmount} (${creditAmountWithText})</td>
    </tr>
    <tr>
        <td class="title">İllik faiz dərəcəsi</td>
        <td>09/745-2023 Saylı kredit Xətti müqaviləsinə ediləcək Əlavələrlə müəyyən olunur</td>
    </tr>
    <tr>
        <td class="title">Cərimə</td>
        <td>${fine}%</td>
    </tr>
    <tr>
        <td class="title">Kredit xəttinin müddəti</td>
        <td>${creditTerm} ay</td>
    </tr>
    <tr>
        <td class="title">Kreditin növü</td>
        <td>${creditType}</td>
    </tr>
    <tr>
        <td class="title">Ayrılacaq tranşın məbləği</td>
        <td>09/745-2023 Saylı kredit Xətti müqaviləsinə ediləcək Əlavələrlə müəyyən olunur</td>
    </tr>
    <tr>
        <td class="title">Kredit xəttinin təminatı</td>
        <td>${guarantee}</td>
    </tr>
    <tr>
        <td class="title">Kreditin tipi</td>
        <td>${creditType}</td>
    </tr>
    <tr>
        <td class="title">Xidmət haqqı və xərclər</td>
        <td>09/745-2023 Saylı kredit Xətti müqaviləsinə ediləcək Əlavələrlə müəyyən olunur</td>
    </tr>
</table>

<div class="section-title">2. MÜQAVİLƏNİN PREDMETİ</div>

<div class="subsection">
    <span>2.1.</span> Bu müqavilə üzrə <span class="highlight">BOKT</span> Borcalara
    <span class="highlight">${creditTerm} ay müddətinə qaytarmaq şərti ilə</span>
    <span class="highlight">${creditAmount} (${creditAmountWithText})</span> məbləğində kredit xətti açır. Borcalan isə
    bu Müqavilədə
    və ya onun əlavə(lər)ində göstərilən kredit məbləğini qəbul edərək, müqavilədə göstərilən müddətdə və qaydada,
    ödəniş qrafiki (Əlavə №1) əsasında krediti və həmin kreditə görə hesablanmış faizləri <span
        class="highlight">BOKT-a</span> qaytarmağı öz öhdəsinə götürür.
</div>

<div class="subsection">
    <span>2.2.</span> Bu müqavilə üzrə kredit <span class="italic">${creditPurpose}</span> üçün götürülür.
</div>

<div class="subsection">
    <span>2.3.</span> Kredit <span class="highlight">"Borcalan"</span>ın bank hesabına köçürmə yolu ilə verilir və ya
    müştəriyə təqdim edilmiş kart hesabına köçürülür.
</div>

<div class="subsection">
    <span>2.4.</span> Borcalan bu kreditdən istifadəyə görə illik <span class="highlight">${annualPercent}%</span>
    məbləğində faiz
    ödəyir.
</div>

<div class="subsection">
    <span>2.5.</span> Borcalan bu kredit xətti müqaviləsinin əlavələri ilə ona ayrılacaq kredit məbləği üzrə əsas borcun
    və faizlərin ödənilməsini ödəniş qrafikinə (Əlavə №1) uyğun olaraq həyata keçirir. Borcalan kredit və (və ya) ona
    hesablanmış faizləri ödəniş qrafikində (Əlavə №1) nəzərdə tutulmuş tarixlərdə ödəmədikdə <span class="highlight">2 (iki) gündən sonra</span>
    hər gecikdirilmiş gün üçün aylıq ödəniləcək əsas məbləğin <span class="highlight">1%-i</span> həcmində dəbbə
    (cərimə) pulu ödəyir.
</div>

<div class="subsection">
    <span>2.6.</span> Bu Müqaviləyə və onun əlavə(lər)inə uyğun olaraq ödəniş məbləğləri <span
        class="highlight">"BOKT"</span>-nin hər hansı bir əməkdaşına deyil, yalnız onun bank hesablarına və digər ödəmə
    vasitələrinə (<span class="italic">kassa, ödəniş terminalları, onlayn ödənişlər</span>) ödənilir.
</div>


<div class="section-title">3. TƏRƏFLƏRİN HÜQUQ VƏ VƏZİFƏLƏRİ</div>

<div class="subsection-title">3.1. BOKT-nın hüquqları:</div>
<div class="subsection">
    <span>3.1.1.</span> BOKT müqavilə ilə nəzərdə tutulmuş kredit məbləğini Borcalanın bank hesabına və ya ona təqdim
    edilmiş kart hesab(lar)ına köçürür.
</div>
<div class="subsection">
    <span>3.1.2.</span> Borcalanın əmlak və ya maliyyə vəziyyəti əhəmiyyətli dərəcədə pisləşərsə, bu borcun qaytarılması
    tələbi üzrə təhlükə yaradarsa borcun dərhal qaytarılmasını tələb etmək.
</div>
<div class="subsection">
    <span>3.1.3.</span> Azərbaycan Respublikasının səlahiyyətli orqanlarının pul-kredit siyasətinin tələblərindən irəli
    gələn səbəblər nəticəsində kreditlərə görə faiz dərəcələri dəyişdikdə, habelə daxili və beynəlxalq maliyyə
    bazarlarında faiz dərəcələrində BOKT tərəfindən cəlb olunan resursların qiymətinə təsir göstərən ciddi dəyişikliklər
    müşahidə olunduğu hallarda borcalanı <span class="highlight">3 (üç) iş günü əvvəlcədən xəbərdar etməklə</span>
    verilmiş kredit üzrə faiz dərəcələrini dəyişmək.
</div>
<div class="subsection">
    <span>3.1.4.</span> "Borcalan" bu Müqaviləyə və onun əlavə(lər)inə uyğun olaraq ödəniş məbləğlərini bu Müqavilənin
    <span class="highlight">2.6-cı</span> bəndində göstərilmiş qaydada bank hesabları və digər ödəmə vasitələri (kassa,
    ödəniş terminalları, onlayn ödənişlər) ilə deyil, "BOKT"-nin hər hansı bir əməkdaşına ödəniş edilməsi barədə
    bildirdikdə və ya bu cür ödənişlərin edilməsi ilə bağlı hər hansı bir qəbz forması təqdim etdikdə həmin ödənişi
    qəbul etməmək.
</div>
<div class="subsection">
    <span>3.1.5.</span> Borcalan üzərinə götürdüyü öhdəliyi yerinə yetirmədikdə və ya lazımınca yerinə yetirməzsə,
    cərimə faizi və dəbbə pulu daxil olmaqla kredit və faiz borcunu "Borcalan"dan qanunvericiliyə uyğun tələb etmək.
</div>
<div class="subsection">
    <span>3.1.6.</span> "Borcalan" tərəfindən kredit məbləğinin məqsədinə uyğun istifadə edilib-edilmədiyini yoxlamaq
    üçün dövri monitorinqlər aparmaq.
</div>
<div class="subsection">
    <span>3.1.7.</span> "Borcalan" öhdəliklərini bu Müqavilə və onun əlavə(lər)inə uyğun yerinə yetirmədiyi halda "BOKT"
    "Borcalan"ın yaşayış yerinə, iş yerlərinə və "Borcalan" ilə əlaqəli digər ünvanlara bildiriş (xəbərdarlıq və ya hər
    hansı məlumatlandırıcı məktub) göndərmək.
</div>
<div class="subsection">
    <span>3.1.8.</span> "Borcalan" öhdəliklərini icra etmədikdə və ya lazımi qaydada yerinə yetirmədikdə "Girov
    Predmeti" varsa, ona tutmanı yönəltmək.
</div>
<div class="subsection">
    <span>3.1.9.</span> İstənilən vaxt "Girov Predmeti"nin saxlanılma vəziyyətini, daşınmaz əmlakın mülkiyyətini və s.
    məsələləri istənilən yerdə (evində, iş yerində və s.) yoxlamaq.
</div>
<div class="subsection">
    <span>3.1.10.</span> Hər hansı səbəbdən "Borcalan"ın bu müqavilə üzrə kredit borcu üçüncü şəxs tərəfindən
    ödənilərsə, müqavilə üzrə öhdəliklərin icrası müddətində üçüncü şəxs tərəfindən ödənilmiş məbləği "Borcalan"dan
    tələb etmək.
</div>
<div class="subsection">
    <span>3.1.11.</span> Kredit borcu Azərbaycan manatının, müqavilə imzalandığı gündən etibarən Mərkəzi Bankın
    məzənnəsinə nisbətən, ABŞ dollarına qarşı məzənnəsinin <span class="highlight">10% (on)</span> faiz həcmində aşağı
    düşməsi (devalvasiya) halında dəyişməklə Kredit üzrə faiz dərəcəsini <span class="highlight">2% (iki)</span>
    faizədək artırmaq.
</div>
<div class="subsection">
    <span>3.1.12.</span> Borcalan üzərinə götürdüyü öhdəliyi yerinə yetirməzsə müqavilə ilə nəzərdə tutulan kreditin
    verilməsini dayandırmaq və ya verilmiş kreditin vaxtından əvvəl qaytarılmasını tələb etmək, həmçinin cərimə faizi və
    dəbbə pulu daxil olmaqla kredit və faiz borcunu kredit müqaviləsi üzrə öhdəliklərin icrasının təminatı (girov,
    ipoteka, zaminlik və s.) və "Borcalan"ın digər daşınar və daşınmaz əmlakına yönəltmək.
</div>
<div class="subsection">
    <span>3.1.13.</span> Borcalan kreditin tam dövriyyəsi müddətində nəzərdə tutulmuş vaxtda keçirəcə qanunda nəzərdə
    tutulmuş qaydada kompensasiya məbləğini Borcalandan tələb etmək.
</div>
<div class="subsection">
    <span>3.1.14.</span> Borcalan tərəfindən öhdəliyin icra edilməməsi və ya lazımi icra edilməməsi ilə əlaqədar borcun
    məcburi qaydada alınmasına yönəlmiş məhkəmə tam icra olunub başa çatanadək hesablanan faizləri tələb etmək.
</div>
<div class="subsection">
    <span>3.1.15.</span> Bu Müqavilədən irəli gələn və qanunvericiliklə nəzərdə tutulan digər hüquqları həyata keçirmək.
</div>

<div class="subsection-title">3.2. BOKT-nın vəzifələri:</div>
<div class="subsection">
    <span>3.2.1.</span> Bu müqavilənin <span class="highlight">2.1-ci</span> bəndində nəzərdə tutulan kredit məbləğini
    Borcalanın bank hesabına və ya ona təqdim edilmiş kart hesabına köçürmək.
</div>
<div class="subsection">
    <span>3.2.2.</span> Kreditin ödənilmə vaxtının dəyişdirilməsi, restrukturizasiyası (ödəniş müddətli möhlətlər
    verilməsi) barədə Borcalanın müraciətlərini müzakirə edərək "BOKT"-nin aidiyyəti orqanı qarşısında məsələ qaldırmaq.
</div>

<div class="subsection-title">3.3. Borcalanın hüquqları:</div>
<div class="subsection">
    <span>3.3.1.</span> Bu Müqavilə üzrə götürdüyü krediti və hesablanmış faizləri vaxtından əvvəl ödəmək.
</div>
<div class="subsection">
    <span>3.3.2.</span> Ödəniş çətinlikləri yarandıqda kreditin ödəniş vaxtının dəyişdirilməsi, kreditin
    restrukturizasiyası (qısa müddətli möhlət) barədə "BOKT"a müraciət etmək.
</div>
<div class="subsection">
    <span>3.3.3.</span> Qanunvericilikdə nəzərdə tutulmuş digər hüquqlar.
</div>

<div class="subsection-title">3.4. Borcalanın vəzifələri:</div>
<div class="subsection">
    <span>3.4.1.</span> Bu Müqavilə üzrə kreditin verilməsi üçün lazım olan sənədləri hazırlayaraq "BOKT"a təqdim etmək.
</div>
<div class="subsection">
    <span>3.4.2.</span> Bu Müqaviləyə və onun əlavə(lər)inə uyğun olaraq ödəniş məbləğlərini "BOKT"-nin hər hansı bir
    əməkdaşına deyil, yalnız onun bank hesablarına və digər ödəmə vasitələrinə (kassa, ödəniş terminalları, onlayn
    ödənişlər) ödəmək.
</div>


<div class="signature-section">
    <div class="signature-box">
        <p>BOKT</p>

    </div>
    <div class="signature-box">
        <p>Borcalan</p>
    </div>
</div>


<div class="subsection-title">3.4. Borcalanın vəzifələri:</div>

<div class="subsection">
    <span>3.4.3.</span> Öhdəliyin icra edilməməsi və ya lazımı icra edilməməsi ilə əlaqədar borcun məcburi qaydada
    alınmasına yönəlmiş məhkəmə qətnaməsi tam icra olunub başa çatanadək hesablanmış faizləri "BOKT"a ödəmək.
</div>
<div class="subsection">
    <span>3.4.4.</span> "BOKT"nin tələbi əsasında dəbbə pulunu ödəmək.
</div>
<div class="subsection">
    <span>3.4.5.</span> Hər hansı səbəbdən bu müqavilə üzrə kredit borcu üçüncü şəxs tərəfindən ödənilərsə, müqavilə
    üzrə öhdəliklərin icrası müddətində üçüncü şəxs tərəfindən ödənilmiş məbləği "BOKT"a ödəmək.
</div>
<div class="subsection">
    <span>3.4.6.</span> Öz qeydiyyat/yaşayış yerinin dəyişilməsi barədə (həmçinin zamin və girovqoyan barəsində də)
    "BOKT"a məlumat vermək, olduğu yer, ticarətinin yeri və ya iş yeri, yaxud işə götürənin dəyişilməsi, həmçinin
    pasport məlumatları, telefonları, elektron poçt məlumatları, eləcə də digər rekvizitlərinin dəyişilməsi haqqında
    həmin dəyişiklikdən etibarən <span class="highlight">5 (beş) gün ərzində</span> "BOKT"ni xəbərdar etmək.
</div>
<div class="subsection">
    <span>3.4.7.</span> Kreditin verilməsinə əsas olan və qaytarılmasının mümkünlüyünü təsdiq edən məlumatları
    kreditorlara tam və dəqiq verməklə yanaşı onların həqiqiliyinə məsuliyyət daşımaq. Bu məlumatlarda sonradan baş
    vermiş dəyişikliklər haqqında kreditoru dərhal xəbərdar etmək.
</div>
<div class="subsection">
    <span>3.4.8.</span> Kreditin təyinatı üzrə istifadə edildiyini yoxlamaq məqsədilə BOKT-nin əməkdaşlarına dövri
    monitorinqlərin aparılması üçün lazımi şərait yaratmaq.
</div>
<div class="subsection">
    <span>3.4.9.</span> Kreditdən təyinatına uyğun istifadə etmək (əks halda <span class="highlight">Cinayət Məcəlləsinin 178, 195, 196, 306-cı maddələri</span>
    ilə məsuliyyət daşıyır).
</div>
<div class="subsection">
    <span>3.4.10.</span> Ona məlum olmuş "BOKT"nin sirr təşkil edən məlumatlarının konfidensiallığını qorumaq, əks
    təqdirdə bu məlumatların yayılması ilə əlaqədar dəymiş ziyanı BOKT-a ödəmək.
</div>

<div class="section-title">4. Tərəflərin Məsuliyyəti</div>

<div class="subsection">
    <span>4.1.</span> Borcalan özünün əmlak və ya maliyyə vəziyyəti barədə bilə-bilə yalan məlumatlar verməklə və ya
    saxta sənəd təqdim etməklə kredit alarsa, habelə verilmiş kreditdən təyinatına uyğun istifadə etməzsə <span
        class="highlight">Azərbaycan Respublikası Cinayət Məcəlləsinin 195-ci maddəsinə</span> müvafiq olaraq məsuliyyət
    daşıyır.
</div>
<div class="subsection">
    <span>4.2.</span> "Borcalan" bu Müqaviləyə və onun əlavə(lər)sinə uyğun olaraq vaxtlı-vaxtında üzərinə götürdüyü
    öhdəlikləri icra etmədiyi təqdirdə əsas və faiz borcundan əlavə <span class="highlight">"BOKT"</span>-a ödənilməmiş
    əsas məbləğin <span class="highlight">2 gündən sonra</span> hər gecikən günü üçün <span class="highlight">1%</span>
    məbləğində dəbbə (cərimə) pulu ödəyir.
</div>
<div class="subsection">
    <span>4.3.</span> Tərəflər bu Müqavilənin şərtlərinin pozulması və ya yerinə yetirilməməsi nəticəsində tərəflərin
    bir-birinə vurduqları zərərə görə tam həcmdə mülki-hüquqi məsuliyyət daşıyırlar.
</div>
<div class="subsection">
    <span>4.4.</span> Bu müqavilə üzrə "Borcalan" <span class="highlight">"BOKT"</span> qarşısında olan öhdəliyinin
    icrası üçün öz daşınar və daşınmaz əmlakları ilə tam məsuliyyət daşıyır.
</div>
<div class="subsection">
    <span>4.5.</span> "Borcalan" bu Müqaviləyə və onun əlavə(lər)sinə uyğun olaraq ödəniş məbləğlərini bu müqavilənin
    <span class="highlight">2.6-cı</span> bəndində göstərilmiş qaydada bank hesabları və digər ödəmə vasitələri (kassa,
    ödəmə terminalları, onlayn ödənişlər) ilə deyil, <span class="highlight">"BOKT"</span>-nin hər hansı bir əməkdaşına
    ödəməsini bildirdikdə və ya bu cür ödənişlərin edilməsi ilə bağlı hər hansı bir qəbz forması təqdim etdikdə, <span
        class="highlight">"BOKT"</span> həmin ödənişləri qəbul etmir və bu cür ödənişlərlə bağlı heç bir məsuliyyət
    daşımır. Belə hal baş verərsə həmin ödənişin bu müqavilənin <span class="highlight">2.6-cı</span> bəndində
    göstərilən qaydada "BOKT"a ödənilməməsi ilə bağlı məsuliyyəti "Borcalan" özü daşıyır.
</div>
<div class="subsection">
    <span>4.6.</span> Fors-major hallarında (<span class="highlight">daşqın, uçqun, sel, zəlzələ, yer sürüşməsi</span>)
    müqavilənin icrası mümkün olmadıqda onun icrası həmin halın mövcud olduğu müddət ərzində dayandırılır. Tərəflərdən
    hər biri istinad etdiyi fors-major halın mövcudluğunu və öhdəliklərin icrasına təsirini sübut etməyə, fors-major
    halları barədə dərhal məlumat verməyə borcludur. Fors-major halın olması səlahiyyətli dövlət orqanı tərəfindən
    təsdiq olunmalıdır. Fors-major hal bitdikdən sonra <span class="highlight">10 gün</span> ərzində tərəflər
    öhdəliklərini tam həcmdə yerinə yetirməlidirlər.
</div>


<div class="section-title">5. Digər Müddəalar</div>

<div class="subsection">
    <span>5.1.</span> Kredit üzrə Faktiki İllik Faiz Dərəcəsi (FİFD) bu kredit xətti müqaviləsinə ediləcək əlavələrdə
    göstərilir.
</div>

<div class="subsection">
    <span>5.2.</span> "BOKT" "Borcalan"ı <span
        class="highlight">1 (bir) təqvim ayı əvvəlcədən yazılı xəbərdar etməklə</span> aşağıdakı hallarda bu müqaviləni
    birtərəfli qaydada ləğv edə və kreditin (əsas məbləğ, hesablanmış faizlər, cərimə və s.) vaxtından əvvəl
    qaytarılmasını tələb edə bilər:
    <ul>
        <li><span>a)</span> "Borcalan"ın əmlak vəziyyəti, bu Müqavilə üzrə pul öhdəliklərinin icrası üçün təhlükə
            yaradan dərəcədə pisləşdikdə;
        </li>
        <li><span>b)</span> "Borcalan" tərəfindən kredit almaq məqsədilə təqdim edilən məlumat və sənədlərin saxta,
            həqiqətə uyğun olmadığı aşkar edildikdə;
        </li>
        <li><span>c)</span> "Borcalan" bu Müqavilə üzrə öhdəliklərini icra etmədikdə.</li>
    </ul>
</div>

<div class="subsection">
    <span>5.3.</span> Bu müqavilədə və onun əlavə(lər)ində nəzərdə tutulan kredit borcuna görə faizlər borcun kreditora
    ödənildiyi günə qədər hesablanır. Bu səbəbdən, məhkəmənin qanuni qüvvəyə minmiş qətnaməsi icra olunub başa çatanadək
    hesablanan faizlər borcalandan (ələcə də zamindən) tutulur və yaxud öhdəliyin icrasının təmin edildiyi ipoteka və ya
    girov predmet(lər)inə və ya onun daşınar və daşınmaz əmlaklarına yönəldilir.
</div>

<div class="subsection">
    <span>5.4.</span> Borcalan ödəniş qrafikinə riayət etməzsə və yaxud kredit müqaviləsinin vaxtı keçərsə bu zaman
    <span class="highlight">"BOKT"</span>-nin borcalana verdiyi krediti və ona hesablanmış faizləri və dəbbə borcunu
    vaxtından əvvəl tələb etmək, tələbin ipoteka qoyulmuş daşınar və yaxud daşınmaz əmlaka yönəldilməsini <span
        class="highlight">"Notariat haqqında"</span> Azərbaycan Respublikası qanununun <span class="highlight">76-cı maddəsinə</span>
    və <span class="highlight">"İpoteka haqqında"</span> qanununun <span class="highlight">38.1-ci maddəsinə</span>
    əsasən məhkəmədən kənar İcra Qeydində əsasən təmin etmək hüququ vardır.
</div>

<div class="subsection">
    <span>5.5.</span> "BOKT" bu Müqavilə ilə bağlı qanunvericiliklə müəyyən edilmiş məlumatları <span class="highlight">"Azərbaycan Kredit Bürosu"</span>
    MMC-yə və Mərkəzi Bankın Mərkəzləşdirilmiş Kredit Reyestrinə göndərə bilər. "Borcalan" bu müqaviləni imzalamaqla,
    Bank olmayan kredit təşkilatları haqqında Azərbaycan Respublikası Qanununa və digər qanunvericilik aktlarına müvafiq
    olaraq özləri haqqında məlumatların <span class="highlight">"Azərbaycan Kredit Bürosu"</span> MMC-yə və Mərkəzi
    Bankın Mərkəzləşdirilmiş Kredit Reyestrinə təqdim edilməsinə və həmçinin "büro"da haqqında olan bütün məlumatların
    <span class="highlight">"İDEAL KREDİT"</span> BOKT MMC tərəfindən sorğu edilməsinə razılıq verir.
</div>

<div class="subsection">
    <span>5.6.</span> "BOKT" bu Müqavilədən irəli gələn hüquq və vəzifələrini, o cümlədən, kreditin qaytarılması üçün
    tədbirlərin görülməsini, "Borcalan" haqqında məlumatları "Borcalan"ın razılığı olmadan üçüncü şəxslərə verə
    (transfer edə) bilər. "Borcalan" isə yalnız "BOKT"nin yazılı razılığı ilə bu hüquqa malikdir.
</div>

<div class="subsection">
    <span>5.7.</span> Faizlər bu Müqavilənin imzalanma tarixindən etibarən kredit tam məbləğdə faktiki qaytarılan
    günədək borc məbləğinə aylıq <span class="highlight">30</span>, illik <span class="highlight">360 gün</span> hesabı
    ilə gündəlik olaraq hesablanır.
</div>

<div class="subsection">
    <span>5.8.</span> "Borcalan"ın yetərli miqdarda olmayan kredit ödənişlərinin öhdəliyin icrasından silinmə
    ardıcıllığı: dəbbə pulu, faiz borcu və əsas borcdan silinməklə həyata keçiriləcək. Artıq miqdarda edilən ödənişlərin
    öhdəliyin icrasından silinmə ardıcıllığı: əsas borcdan silinməklə həyata keçiriləcək.
</div>

<div class="subsection">
    <span>5.9.</span> "Borcalan" son ödəniş zamanı yarana biləcək (ödədiyi) artıq məbləğin <span class="highlight">"BOKT"</span>
    tərəfindən qeyd-şərtsiz silinməsinə etiraz etmir.
</div>

<div class="subsection">
    <span>5.10.</span> Bu Müqavilənin hər hansı bir müddəasının etibarsız hesab edilməsi bu Müqavilənin ümumiyyətlə
    etibarsız hesab edilməsinə səbəb olmur.
</div>

<div class="subsection">
    <span>5.11.</span> Bu Müqavilə ilə tənzimlənməyən məsələlər Azərbaycan Respublikasının Mülki Məcəlləsi və digər
    normativ-hüquqi aktları ilə tənzimlənir.
</div>

<div class="subsection">
    <span>5.12.</span> Bu Müqavilənin icrası ilə bağlı meydana çıxan bütün mübahisələr tərəflər arasında danışıqlar yolu
    ilə həll edilmədikdə mövcud qanunvericiliyə uyğun məhkəmə qaydasında həll ediləcəkdir.
</div>

<div class="subsection">
    <span>5.13.</span> "Borcalan" maliyyə xidmətlərini istehlak edərkən qarşılaşdığı çətinliklər və suallarla əlaqədar
    Mərkəzi Bankın <span class="highlight">+994124935058</span> telefon nömrəsi və <span
        class="highlight">+99412966</span> qaynar xətti ilə əlaqə saxlaya bilər.
</div>

<div class="subsection">
    <span>5.14.</span> Bu Müqaviləyə gələcəkdə hər hansı əlavə və dəyişikliklərin edilməsi Azərbaycan Respublikasının
    qanunvericiliyi ilə nəzərdə tutulmuş qaydada tərəflər arasında yazılı şəkildə bağlanmış razılaşma ilə
    rəsmiləşdiriləcəkdir.
</div>

<div class="subsection">
    <span>5.15.</span> Bu müqavilə eyni hüquqi qüvvəyə malik <span class="highlight">2 (iki)</span> nüsxədə tərtib
    edilmişdir və tərəflərin imza və möhürü ilə təsdiq edildikdən sonra qüvvəyə minir.
</div>

<div class="note">("borcalan" əl ilə <span class="underline">"tanış oldum razıyam"</span> yazır və <span
        class="underline">"tarixi qeyd edir"</span>)
</div>

<div class="section-title">7. Tərəflərin Rekvizitləri:</div>

<div class="rekvizit-table">
    <!-- Left Box -->
    <div class="left-box">
        <h3>BOKT</h3>
        <p class="bold">"İDEAL KREDİT" BOKT</p>
        <p><span class="bold">Direktor:</span> Qubadov Qubad Baxas oğlu</p>
        <p><span class="bold underline">Hüquqi ünvan:</span> Bakı şəhəri, F.Xoyski küç., 111"A", m.26</p>
        <p><span class="bold underline">Faktiki ünvan:</span> Bakı şəh, Həsən Əliyev küç., 34 <small>(1 saylı ASAN
            Kommunal)</small></p>
        <p><span class="bold">Tel:</span> 012 526 26 25</p>
        <p><span class="bold">İndeks:</span> AZ 1078</p>
        <p><span class="bold">VÖEN:</span> 1300480591</p>
        <p class="bold">Müdir:</p>
        <p>M.Y</p>
    </div>

    <!-- Right Box -->
    <div class="right-box">
        <h3>Borcalan</h3>
        <p><span class="bold">${requestedUser.fullName}</span></p>
        <p><span class="bold underline">Ünvan:</span> ${requestedUser.address}</p>
        <p><span class="bold underline">Ş/V №:</span> ${requestedUser.seriaNo}</p>
        <p><span class="bold underline">Verilmə tarixi:</span> ${requestedUser.eventDate}</p>
        <p>${requestedUser.address}</p>
        <p class="bold">Borcalan:</p>
        <div class="signature-line"></div>
    </div>
</div>


<p class="footer">Bu müqavilə 2 (iki) nüsxədə tərtib edilmişdir.</p>
</body>
</html>
