<!DOCTYPE html>
<html lang="az" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" />
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
        rel="stylesheet" />
    <title>Kredit Müqaviləsi</title>
    <style>
        body {
            font-family: "Roboto", sans-serif;
            font-size: 7px;
            line-height: 1.6;
            margin: 20px auto;
            max-width: 800px;
        }
    </style>
</head>

<body>
    <p style="text-align: center;">
        <strong>“İDEAL KREDİT” BOKT MMC</strong> <strong></strong>
    </p>
    <p style="text-align: center;">
        <strong>Əlaqəli kredit müqaviləsi</strong><strong>№</strong><strong th:text="${documentNumber}"></strong>
        <strong></strong>
    </p>
    <p>
        <strong></strong>
    </p>
    <div style="display: flex; justify-content: space-between;">
        <p>Bakı şəhəri</p>
        <p th:text="${requestDateStr}">07 iyun 2024</p>
    </div>
    <p>
        <em></em>
    </p>
    <p>
        Əsasnamə və Etibarnamə əsasında fəaliyyət göstərən (gələcəkdə "BOKT"
        adlanacaq) BOKT “İDEAL KREDİT” MMC-nin direktoru
        <strong>
            <em>Qubadov Qubad Baxas oğlu</em>
        </strong>
        şəxsində bir tərəfdən, gələcəkdə "Borcalan" adlanacaq fiziki şəxs
        <strong><em th:text="${requestedUser.fullName}">Mehdiyev Elşən Osman oğlu</em></strong>şəxsində digər
        tərəfdən,(birlikdə "Tərəflər" adlanacaq) aşağıdakılar barədə razılığa
        gələrək bu müqaviləni bağladılar.
    </p>
    <p style="text-align: center;">
        <strong>1.MÜQAVİLƏNİN PREDMETİ</strong>
    </p>
    <p>
        <strong>1.1.</strong>Bu Müqavilə “BOKT” tərəfindən “Borcalan”a kreditin
        verilməsi və kreditin qaytarılması şərtləri çərçivəsində Tərəflərin hüquq və
        öhdəliklərini tənzimləyir.
    </p>
    <p>
        <strong>1.2.</strong>Bu müqavilə üzrə "BOKT" "Borcalan"a
        <strong th:text="${partner.companyName}">
            Abbasov Vüqar Ələddin oğlu
        </strong>
        (bundan sonra "Partnyor") tərəfindən satışı həyata keçirilən İstehlak
        mal(lar)ının veya xidmətlərin alınması üçün <strong th:text="${creditAmount}">1500</strong><strong
            th:text="(${creditAmountWithText})">(Bir min beş yüz
            manat)</strong>məbləğində istehlak krediti verməyi "Borcalan" isə aldığı
        borcu bu Müqavilədə müəyyən edilmiş müddətdə və qaydada, ödəniş qrafiki
        (Əlavə №1) əsasında "BOKT"-a qaytarmağı öz öhdəsinə götürür.
    </p>
    <p>
        <strong>1.3.</strong>Bu müqaviləyə əsasən alınmış istehlak malları (bundan
        sonra "Girov Predmeti") "Borcalan"ın razılığı ilə "BOKT"nin xeyrinə girov
        qoyulur. "Girov Predmeti" Borcalanda qalır. "Borcalan" "BOKT" tərəfndən
        "Girov Predmeti"nin Daşınar Əmlakın Yüklülüyünün Dövlət Reyestrində
        (DƏYDR) qeydiyyatının aparılmasına və bu müqavilə üzrə öhdəliyin vaxtının
        bitmə müddətindən əlavə 3 (üç) il müddətində yüklü (girovda) olaraq
        qalmasına razılıq verir.
    </p>
    <p>
        <strong>1.4.</strong>1.4. Kreditin verilməsi, partnyorun bank hesabına köçürmə yolu ilə həyata keçirilir.
    </p>
    <p>
        <strong>1.5.</strong>Kredit rəsmiləşdirilməsinə görə ümumi kredit
        məbləğinin <strong th:text="${commissionRate}">20,00%</strong><strong>%</strong> həcmində komissiya haqqı
        tutulur.
    </p>
    <p>
        <strong>1.6.</strong>Kredit "Borcalan"a kreditdən istifadə haqqı olaraq
        illik <strong><em th:text="${annualPercent}">0,00</em></strong>% (annuitet qaydasında) hesablanmaqla
        <strong><em th:text="${creditTerm}">10</em></strong> ay müddətinə verilir.
    </p>
    <strong>
        <strong>1.7.</strong>Bu Müqaviləyə əsasən alınmış mal(lar)ın ümumi dəyəri
        <strong th:text="${creditAmount}">1.560</strong>AZN
        (<strong th:text="${creditAmountWithText}">Bir min beş yüz altmış manat</strong>)
        təşkil edir.
    </strong>
    <p>
        <strong>1.8.</strong>Borcalan kredit müqaviləsi üzrə borcun ödənilməsini
        ödəniş qrafikinə (Əlavə №1) uyğun olaraq həyata keçirir. Borcalan kredit
        borcunu ödəniş qrafikində <strong><em>(Əlavə №1)</em></strong>nəzərdə
        tutulmuş tarixlərdə ödəmədikdə hər gecikdirilmiş gün üçün aylıq ödəniləcək
        borc məbləğinin 1%-i həcmində dəbbə (cərimə) pulu ödəyir.
    </p>
    <p>
        <strong>1.9.</strong>Bu Müqaviləyə və onun əlavələrinə uyğun olaraq ödəniş
        məbləğləri "BOKT"nin hər hansı bir əməkdaşına deyil, yalnız onun bank
        hesablarına və digər ödəmə vasitələrinə(ödəniş terminalları, onlayn
        ödənişlər) ödənilir.
    </p>
    <p>
        <strong></strong>
    </p>
    <p style="text-align: center;">
        <strong>2.TƏRƏFLƏRİN HÜQUQ VƏ VƏZİFƏLƏRİ</strong>
    </p>
    <p>
        <strong>2.1. "BOKT"nın hüquqları:</strong>
    </p>
    <p>
        <strong>2.1.1.</strong>"Borcalan" bu Müqaviləyə və onun əlavə(lər)sinə uyğun
        olaraq ödəniş qrafikində nəzərdə tutulmuş ödəniş məbləğlərini
        ödəmədikdə/vaxtında ödəmədikdə (həmçinin "Borcalan"ın əmlak və ya maliyyə
        vəziyyətinin pisləşməsi səbəbindən ödəmədikdə) kreditin vaxtından əvvəl tam
        ödənilməsini "Borcalan"dan tələb etmək;
    </p>
    <p>
        <strong>2.1.2.</strong>"Borcalan" bu Müqaviləyə və onun əlavə(lər)sinə uyğun
        olaraq ödəniş məbləğlərini bu Müqavilənin <strong>1.9-</strong>cu bəndində
        göstərilmiş qaydada bank hesabları və digər ödəmə vasitələri (kassa,
        ödəniş terminalları, onlayn ödənişlər) ilə deyil, "BOKT"nin hər hansı bir
        əməkdaşına ödəməsini bildirdikdə və ya bu cür ödənişlərin edilməsi ilə bağlı
        hər hansı bir qəbz forması təqdim etdikdə, həmin ödənişləri və ya qəbzləri
        qəbul etmədən ödənişlərin bu müqavilənin <strong>1.9</strong>-cu bəndində
        göstərilən qaydada yenidən ödənilməsini tələb etmək;
    </p>
    <p>
        <strong>2.1.3.</strong>Kredit borcu Azərbaycan manatının, Müqavilə
        imzalandığı günə olan AR Mərkəzi Bankının məzənnəsinə nisbətən, ABŞ
        dollarına qarşı məzənnəsinin hər 10% (on) faiz həcmində aşağı düşməsi
        (devalivasiya) halında birtərəfli qaydada Kredit üzrə faiz dərəcəsini 2%
        (iki) faizədək artırmaq;
    </p>
    <p>
        <strong>2.1.4.</strong>"Borcalan" öhdəliklərini bu Müqavilə və onun
        əlavə(lər)sinə uyğun şəkildə yerinə yetirmədiyi halda "BOKT" "Borcalan"ın
        yaşayış yerlərinə, iş yerlərinə və "Borcalan" ilə əlaqəli digər ünvanlara
        bildiriş (xəbərdarlıq və ya hər hansı məlumatlandırıcı məktub) göndərmək;
    </p>
    <p>
        <strong>2.1.5.</strong>"Borcalan" öhdəliyini lazımi qaydada icra etmədikdə
        "Girov Predmeti"nə və ya onun digər daşınar və daşınmaz əmlaklarına
        tutmanı yönəltmək;
    </p>
    <p>
        <strong>2.1.6.</strong>İstənilən vaxt "Girov Predmeti"nin saxlanılma
        vəziyyətini, "Borcalan"ın maliyyə vəziyyətini və s. məsələləri istənilən
        yerdə (evində, iş yerində və s) yoxlamaq;
    </p>
    <p>
        <strong>2.1.7. "</strong>Borcalan" kreditin tam ödənişini müqavilədə
        müəyyən edilən vaxtdan tez icra etdikdə “Borcalan”dan bu Müqavilədə və
        qanunvericilikdə müəyyən olunmuş məbləğdə kompensasiya tələb etmək;
    </p>
    <p>
        <strong>2.1.8.</strong>Borc məcburi qaydada məhkəmə yolu ilə alınarsa
        qətnamə tam icra olunub başa çatanadək hesablanan cərimə (dəbbə) pulunu
        "Borcalan"dan tələb etmək;
    </p>
    <p>
        <strong>2.1.9.</strong>Bu Müqavilədən irəli gələn və qanunvericiliklə
        nəzərdə tutulmuş digər hüquqlar.
    </p>
    <p>
        <strong>2.1.10.</strong>Bu Müqavilənin bağlanması zamanı “BOKT” Müqaviləni
        təmsil olunduğu şəxsin fiziki imzası, elektron imza və ya qanunvericiliklə
        nəzərdə tutulmuş qaydada mexaniki və ya başqa surətçıxartma vasitələrinin
        köməyi ilə imzanın faksimilesindən istifadə etməklə təsdiq etmək hüququ
        vardır.
    </p>
    <p>
        <strong>2.1.11.</strong>Kredit borcu haqqında arayışın əldə olunmasına görə
        Borcalandan xidmət haqqı tələb edə bilər.
    </p>
    <p>
        <strong>2.2. "BOKT"nin vəzifələri:</strong>
    </p>
    <p>
        <strong>2.2.1.</strong>Bu Müqavilənin 1.2-ci bəndində göstərilən kredit
        məbləğini kreditin rəsmiləşdirilməsinə görə xidmət haqqı və vəsait karta
        köçürüldükdə plastik ödəniş kartının dəyərini tutaraq plastik kart
        hesabına və ya partnyorun bank hesabına köçürmək;
    </p>
    <p>
        <strong>2.2.2.</strong>Bu Müqavilə ilə üzərinə götürdüyü öhdəlikləri
        vaxtında və lazımi qaydada icra etmək və onların pozulmasına yol verməmək;
    </p>
    <p>
        <strong>2.2.3.</strong>Bu Müqavilə müddətində “Borcalan”ın müraciəti
        əsasında ödənişsiz olaraq kağız daşıyıcıda təqvim ili ərzində iki dəfə,
        digər davamlı daşıyıcıda isə istənilən zaman kreditin qalığı barədə
        “Borcalan”a hesabdan çıxarış təqdim etmək;
    </p>
    <p>
        <strong>2.2.4.</strong>Bu Müqavilədən irəli gələn və qanunvericilikdə
        nəzərdə tutulmuş digər vəzifələr.
    </p>
    <p>
        <strong>2.3. "Borcalan"ın hüquqları:</strong>
    </p>
    <p>
        <strong>2.3.1.</strong>Bu Müqavilə üzrə götürdüyü kredit borcunu vaxtından
        əvvəl ödəyə bilmək;
    </p>
    <p>
        <strong>2.3.2.</strong>Obyektiv səbəblərdən borcun ödənilməsində çətinlik
        yarandıqda, ödəniş vaxtının dəyişdirilməsi və ya restrukturizasiyası barədə
        "BOKT"a müraciət etmək;
    </p>
    <p>
        <strong>2.3.3.</strong>Bu Müqavilə müddətində müraciət əsasənda ödənişsiz
        olaraq kağız daşıyıcıda təqvim ili ərzində iki dəfə, digər davamlı
        daşıyıcıda isə istənilən zaman kreditin qalığı barədə hesabdan çıxarış əldə
        etmək;
    </p>
    <p>
        <strong>2.3.4.</strong>"Borcalan" Bu Müqavilə üzrə pul vəsaitinin verildiyi
        gündən 30 (otuz) gün müddətində heç bir səbəb göstərmədən bu müqavilədən
        imtina edə bilər, Bu halda, "Borcalan" müqavilə üzrə verilmiş pul
        vəsaitini və həmin pul vəsaitinin verildiyi gündən qaytarıldığı günədək
        hesablanan faizləri, dövlət rüsumu və xidmət haqlarının məbləğini
        ödəməlidir.
    </p>
    <p>
        <strong>2.3.5.</strong>Bu Müqavilədən irəli gələn və qanunvericilikdə
        nəzərdə tutulmuş digər hüquqlar.
    </p>
    <p>
        <strong>2.4. "Borcalan"ın vəzifələri:</strong>
    </p>
    <p>
        <strong>2.4.1.</strong>Bu Müqavilə üzrə kreditin verilməsi üçün lazımi
        sənədləri "BOKT"nin tələbi əsasında hazırlayaraq "BOKT"yə təqdim etmək;
    </p>
    <p>
        <strong>2.4.2.</strong>Müqavilə üzrə üzərinə götürdüyü öhdəlikləri
        vaxtında, düzgün və tam həcmdə icra etmək;
    </p>
    <p>
        <strong>2.4.3.</strong>Ona məlum olan "BOKT"in sirri sayılan məlumatların
        konfedensiallığını qorumaq, əks halda bu məlumatların yayılmasına görə
        dəymiş ziyanı "BOKT"a ödəmək;
    </p>
    <p>
        <strong></strong>
    </p>
    <p>
        <strong></strong>
    </p>
    <p>
        <strong></strong>
    </p>
    <p>
        BOKT <u>Müqavilə SİMA İMZA ilə imzalanmışdır</u> Borcalan –
        <u>
            Müqavilə SİMA İMZA ilə imzalanmışdır
        </u>
        <strong></strong>
    </p>
    <p>
        <strong>2.4.4.</strong>Öz qeydiyyat/yaşayış yerinin dəyişilməsi barədə
        "BOKT"a məlumat vermək, olduğu yer, ticarətinin yeri və ya iş yeri, yaxud
        işə götürənin dəyişilməsi haqqında həmin dəyişiklikdən etibarən 3 (üç) gün
        ərzində "BOKT"nı xəbərdar etmək;
    </p>
    <p>
        <strong>2.4.5.</strong>Bu Müqavilənin bağlanması zamanı “BOKT” Müqaviləni
        təmsil olunduğu şəxsin fiziki imzası və ya qanunvericiliklə nəzərdə
        tutulmuş qaydada mexaniki və ya başqa surətçıxartma vasitələrinin köməyi
        ilə imzanin faksimilesindən istifadə etməklə təsdiq etməsi prosesi ilə
        razılaşmaq;
    </p>
    <p>
        <strong>2.4.6.</strong>Bu Müqavilədən irəli gələn və qanunvericilikdə
        nəzərdə tutulmuş digər vəzifələr.
    </p>
    <p style="text-align: center;">
        <strong>3.TƏRƏFLƏRİN MƏSULİYYƏTİ</strong>
    </p>
    <p>
        <strong>3.1.</strong>Tərəflər bu Müqavilə şərtlərinin pozulması və ya
        yerinə yetirilməməsi nəticəsində bir-birinə vurduqları zərərə görə tam
        həcmdə mülki-hüquqi məsuliyyət daşıyırlar.
    </p>
    <p>
        <strong>3.2.</strong>"BOKT" "Borcalan" qarşısında "BOKT"dan asılı olmayan
        səbəblərə görə ("Borcalan"ın özü seçib aldığı istehlak mal(lar)ındakı
        qüsura, uyğunsuzluğa, mal(lar)ın "Borcalan"a vaxtında verilməməsinə,
        "Borcalan"ın göstərdiyi ünvanda quraşdırılmamasına və hər hansı digər
        hallara görə) heç bir məsuliyyət daşımır.
    </p>
    <p>
        <strong>3.3.</strong>Fors-major halında (daşqın, uçqun, sel, zəlzələ və
        s.) müqavilənin icrası mümkün olmadıqda onun icrası həmin halın mövcud
        olduğu müddət ərzində dayandırılır, Tərəflərdən hər biri istinad etdiyi
        fors-major halın mövcudluğunu və öhdəliyin icrasına təsirini sübut etməyə,
        fors-major hal barədə dərhal məlumat verməyə borcludur. Fors-major halın
        olması müvafiq dövlət orqanı tərəfindən təsdiq olunmalıdır. Fors-major hal
        bitdikdə 10 gün ərzində tərəflər öhdəliyini tam həcmdə yerinə
        yetirməlidir.
    </p>
    <p style="text-align: center;">
        <strong>4. MÜQAVİLƏNİN QÜVVƏYƏ MİNMƏSİ VƏ MÜDDƏTİ</strong>
    </p>
    <p>
        <strong>4.1</strong>. Bu Müqavilə «Tərəflər»in onu imzası və möhürü ilə
        (olduqda) təsdiq etdiyi andan qüvvəyə minir və «Tərəflər» öz öhdəliklərini
        tam yerinə yetirənədək qüvvədədir.
    </p>
    <p>
        <strong>4.2.</strong>Aşağıdakı hallardan hər hansı biri mövcud olduqda, bu
        Müqavilə bağlandıqdan sonra da “BOKT” kreditin verilməsindən imtina edə
        bilər:
    </p>
    <p>
        <strong>4.2.1.</strong>Kreditin əsas məbləğinin və faizlərinin “Borcalan”
        tərəfindən ödənilməsinə təhlükə yarada bilən hər hansı mülki, inzibati və
        ya cinayət işi, təqibi, icraatı və ya iddiası və ya qeyd edilənlərlə bağlı
        müvafiq orqanın qərarı, sərəncamı və ya məhkəmə aktı müvcud olduqda;
    </p>
    <p>
        <strong>4.2.2.</strong>“Borcalan” tərəfindən kreditlə əlaqədar “BOKT”nı
        aldatmağa yönəlmiş və ya qanunvericiliyə zidd hər hansı bir hərəkətin
        edilməsi və ya yanlış məlumatların və ya sənədlərin təqdim edilməsi barədə
        “BOKT”da ciddi şübhələr və ya məlumat olduqda;
    </p>
    <p>
        <strong>4.2.3.</strong>Bu müqavilə üzrə “Borcalan”ın öhdəliklərini yerinə
        yetirməsinə mənfi təsir göstərə biləcək hallar barədə məlumat daxil olduqda.
    </p>
    <p>
        <strong>4.3.</strong>«BOKT» «Borcalan»ı 1 (bir) ay əvvəlcədən yazılı
        xəbərdar etməklə aşağıdakı hallarda bu Müqaviləni birtərəfli qaydada ləğv
        edə və kreditin (əsas məbləğ, hesablanmış faizlər, cərimə və s.) vaxtından
        əvvəl qaytarılmasını tələb edə bilər:
    </p>
    <p>
        <strong>4.3.1.</strong>“Borcalan” kredit müqaviləsi üzrə öhdəliklərini (əsas
        borc və ya faizləri, yaxud onların bir hissəsini) bu müqavilənin ayrılmaz
        tərkib hissəsi olan “Ödəniş qrafiki (Əlavə №1)" üzrə ödənişləri yerinə
        yetirmədikdə;
    </p>
    <p>
        <strong>4.3.2.</strong>“Borcalan” kreditdən təyinatına uyğun istifadə
        etmədikdə;
    </p>
    <p>
        <strong>4.3.3.</strong>“BOKT”nı aldatmağa yönəlmiş hər hansı bir hərəkətin
        edildiyi aşkar olunduqda, maliyyə imkanları və bu müqavilədən irəli gələn
        öhdəliklərin vaxtında və lazimi qaydada icrasına mənfi təsir edə biləcək
        digər faktlar (Borcalanın ödənilməmiş borcları, icra edilməmiş mülki-hüquqi
        öhdəlikləri, saxta sənədlərin təqdim edilməsi və s.) haqqında verdiyi
        məlumatların və təqdim etdiyi sənədlərin (o cümlədən kredit alınması üçün
        müraciət formasında ifadə edilmiş məlumatlar da daxil olmaqla) həqiqətə
        uyğun olmadığı aşkar olunduqda;
    </p>
    <p>
        <strong>4.3.4.</strong>“Borcalan”ın əmlak vəziyyəti əhəmiyyətli dərəcədə
        pisləşdikdə;
    </p>
    <p>
        <strong>4.3.5.</strong>Borcalan tərəfindən bu Müqavilə üzrə müəyyən edilmiş
        vəzifələr icra edilmədikdə və ya lazımınca icra edilmədikdə;
    </p>
    <p>
        <strong>4.3.6.</strong>Borcun hissə-hissə qaytarılmasını (faizlər, dəbbə
        pulu və digər haqlar daxil olmaqla), hissə-hissə ödənilməsini bu Müqavilə
        üzrə vaxtı çatmış borcun (faizlər, dəbbə pulu və digər haqlar daxil
        olmaqla) 90 (doxsan) gün və ya daha çox müddətdə gecikdirildikdə, yaxud
        borcun (faizlər, dəbbə pulu və digər haqlar daxil olmaqla) ödənilməsi
        müddətləri 90 (doxsan) gündən az olmamaqla ardıcıl olaraq iki dəfə
        pozulduqda;
    </p>
    <p>
        <strong>4.4.</strong>“Borcalan” bu müqavilənin şərtlərini pozduqda və ya bu
        müqavilənin 4.3-cü bəndində nəzərdə tutulmuş hallardan hər hansı biri baş
        verdikdə “BOKT” borcun ödənilməsi tələbi ilə bağlı aidiyyəti məhkəməyə və ya
        icra qeydinin aparılması üçün notariat orqanına müraciət edə bilər.
    </p>
    <p>
        <strong>4.5.</strong>“Borcalan” “BOKT”dan və ya Satıcıdan («Girov
        Predmeti»ni «Borcalan»a satan) asılı olmayan səbəblərdən və ya hər hansı
        bir səbəb göstərmədən pul vəsaitinin ona verildiyi gündən 30 (otuz) gün
        ərzində bu müqavilədən imtina etdikdə, bu Müqavilə üzrə hesablanmış
        faizləri, dəbbə pulunu və kredit rəsmiləşdirilməsinə görə çəkilmiş 6%
        xidmət haqqı xərcini “BOKT”a ödəməlidir.
    </p>
    <p>
        <strong>4.6.</strong>Bu Müqavilə üzrə alınmalı olan mal(lar) “Borcalan”a
        verilmədikdə, qismən verildikdə və ya Satıcı ilə Borcalan arasında
        razılaşdırılmış şərtlərə uyğun olmadıqda, “Borcalan”ın bu müqavilə üzrə
        yaranan öhdəliklərinin icrasını dayandırmaq və etdiyi ödənişlərin geri
        qaytarılmasını “BOKT”dan tələb etmək hüququ vardır.
    </p>
    <p>
        <strong>4.7.</strong>Bu Müqavilənin 4.6.-ci bəndində göstərilən hüquqlar
        yalnız aşağıdakı hallarda həyata keçirilə bilər:
    </p>
    <p>
        <strong>4.7.1.</strong>“Borcalan” malların ona verilməməsi, qismən verilməsi
        və yaxud Satıcı ilə aralarında razılaşdırılmış şərtlərə uyğun olmaması ilə
        bağlı Satıcıya müraciət etmişdir və bu müraciət tarixindən sonra 1 (bir) ay
        müddətində Satıcı ilə “Borcalan” arasında razılaşdırılmış şərtlər Satıcı
        tərəfindən yerinə yetirilməmişdir;
    </p>
    <p>
        <strong>4.7.2.</strong>Malların lazımi keyfiyyətdə olmaması səbəbindən
        Satıcı ilə Borcalan arasında bağlanmış müqavilə ləğv edildiyi halda, bu
        şərtlə ki, “Borcalan”“BOKT”a malların lazımi keyfiyyətdə olmaması barədə
        müraciət etmişdir;
    </p>
    <p>
        <strong>4.7.3.</strong>Satıcı tərəfindən malların təhvil verilməməsi
        səbəbindən Satıcı ilə Borcalan arasında bağlanmış müqaviləyə xitam
        verilməsi halları istisna olmaqla,Satıcı ləğv edilmiş müqavilə əsasında
        aldığı malları tam olaraq geri qaytarmışdır;
    </p>
    <p>
        <strong>4.8.</strong>Bu Müqavilənin 4.7-ci bəndində göstərilən halların baş
        verməsi ilə bağlı “Borcalan” “BOKT”a müraciət etdikdə, “BOKT” 10 (on) iş
        günü müddətində “Borcalan”ın bu Müqavilə üzrə etdiyi ödənişləri geri
        qaytarır. Karta görə ödənilən məbləğ “Borcalan”a geri qaytarılmır.
    </p>
    <p style="text-align: center;">
        <strong>5. YEKUN MÜDDƏALAR</strong>
    </p>
    <p>
        <strong>5.1.</strong>"BOKT" bu Müqavilə ilə bağlı qanunvericiliklə müəyyən
        edilmiş məlumatları "Azərbaycan Kredit Bürosu" MMC-yə və Mərkəzi Bankın
        Mərkəzləşdirilmiş Kredit Reyestrinə göndərə bilər. "Borcalan" bu müqaviləni
        imzalamaqla, Bank olmayan kredit təşkilatları haqqında" Azərbaycan
        Respublikası Qanununa və digər qanunvericilik aktlarına müvafiq olaraq
        özləri haqqında məlumatların "Azərbaycan Kredit Bürosu" MMC-yə və Mərkəzi
        Bankın Mərkəzləşdirilmiş Kredit Reyestrinə təqdim edilməsinə və həmçinin
        "büro"da haqqında olan bütün məlumatların “İDEAL KREDİT” BOKT MMC
        tərəfindən sorğu edilməsinə, həmçinin Azərbaycan Respublikası Qanununa və
        digər qanunvericilik aktlarına uyğun olaraq borcalan və ailə üzvləri
        haqqında fərdi məlumatların (o cümlədən “ASAN Finans”dan əldə edilən bütün
        məlumatların) toplanmasına razılıq verir.
    </p>
    <p>
        <strong>5.2.</strong>Bu Müqaviləyə gələcəkdə hər hansı əlavə və
        dəyişikliklərin edilməsi Azərbaycan Respublikasının qanunvericiliyi ilə
        nəzərdə tutulmuş qaydada tərəflər arasında yazılı şəkildə bağlanmış
        razılaşma ilə rəsmiləşdiriləcəkdir.
    </p>
    <p>
        <strong>5.3.</strong>"BOKT" bu Müqavilədən irəli gələn hüquq və
        vəzifələrini, o cümlədən, kreditin qaytarılması üçün tədbir görülməsini,
        "Borcalan" haqqında məlumatları "Borcalan"ın razılığı olmadan üçüncü
        şəxslərə verə (transfer edə) bilər. "Borcalan" isə yalnız "BOKT"nin yazılı
        razılığı ilə bu hüquqa malikdir.
    </p>
    <p>
        <strong>5.4.</strong>Kredit üzrə Faktiki İllik Faiz Dərəcəsi
    <p th:text="${calculatedFIFD}">51,53</p> % təşkil
    edir.
    </p>
    <p>
        <strong>5.5.</strong>Kredit üzrə faizlərin hesablanması ildə 360 (üç yüz
        altmış) təqvim günü, ayda isə 30 (otuz) təqvim günü götürülməklə kreditin
        “Borcalan”a verildiyi gündən faktiki qaytarıldığı günədək, kreditdən
        istifadə edilmiş günlərin faktiki sayına görə əsas borcun qalıq məbləğinə
        hesablanır.
    </p>
    <p>
        BOKT <u>Müqavilə SİMA İMZA ilə imzalanmışdır</u> Borcalan –
        <u>
            Müqavilə SİMA İMZA ilə imzalanmışdır
        </u>
        <strong></strong>
    </p>
    <p>
        <strong>5.6.</strong>"Borcalan"ın yetərli miqdarda olmayan kredit
        ödənişlərinin öhdəliyin icrasından silinmə ardıcıllığı: cərimə (dəbbə)
        pulu, faiz borcu və əsas borcdan silinməklə həyata keçiriləcək. Artıq
        miqdarda edilən ödənişlərin öhdəliyin icrasından silinmə ardıcıllığı: əsas
        borcdan silinməklə həyata keçiriləcək.
    </p>
    <p>
        <strong>5.7.</strong>"Borcalan" son ödəniş zamanı yarana biləcək (ödədiyi)
        artıq məbləğin "BOKT" tərəfindən qeyd-şərtsiz silinməsinə etiraz etmir.
    </p>
    <p>
        <strong>5.8.</strong>Borcalan” krediti istənilən vaxt xəbərdarlıq etmədən
        tamamilə və ya qismən “BOKT”a qaytara bilər. “Borcalan” krediti vaxtından
        əvvəl qaytardıqda, kreditin qalıq müddətinə görə hesablanmış faizlər
        vaxtından əvvəl ödənilmiş məbləğə mütənasib olaraq azaldılır.
    </p>
    <p>
        <strong>5.9.</strong>"BOKT” kreditin vaxtından əvvəl icrası zamanı zərərin
        əvəzinin ödənilməsi üçün “Borcalan”dan kompensasiya məbləği tələb edə bilər.
        Kompensasiyanın məbləği müqavilə müddətinin bitməsinə 1 (bir) ildən çox
        qaldıqda, vaxtından əvvəl ödənilmiş məbləğin 1 (bir) faizi həcmində, 1 (bir)
        il və daha az müddət qaldıqda isə 0,5 faiz həcmində müəyyən edilir.
    </p>
    <p>
        <strong>5.10.</strong>Kreditin nağdlaşdırılması zamanı həcmində
        nağdlaşdırma xərci tutulur, kredit kart emitentinə məxsus olmayan digər
        təşkilatların ATM/Pos-terminalı vasitəsilə nağdlaşdırıldıqda nağdlaşdırma
        xərci həmin təşkilatların tariflərinə uyğun olaraq tutulur.
    </p>
    <p>
        <strong>5.11.</strong>“Borcalan” “İstehlak krediti müqaviləsi üzrə Standart
        məlumatlandırma forması”nın “BOKT” tərəfindən ona təqdim edilməsini təsdiq
        edir.
    </p>
    <p>
        <strong>5.12.</strong>“BOKT”un “Borcalan”a ünvanladığı bütün müraciətlər,
        bildirişlər, xəbərdarlıqlar “Borcalan”ın bu Müqavilədə göstərilən ünvanına
        göndərilir. “Borcalan” qeydiyyat/ yaşayış ünvanında edilmiş dəyişikliklər
        barədə bu Müqavilənin 2.4.4-cü bəndi ilə müəyyən olunmuş qaydada “BOKT”u
        məlumatlandırmadıqda sonuncu məlum olan ünvan üzrə gəndərilmiş müraciətlər,
        bildirişlər, xəbərdarlıqlar çatdırılmış hesab olunur.
    </p>
    <p>
        <strong>5.13.</strong>Tərəflər arasında bu müqavilənin icrası ilə əlaqədar
        olan mübahisələr qarşılıqlı razılıqla həll edilir. Qarşılıqlı razılıqla həll
        edilə bilməyən mübahisələr Azərbaycan Respublikasının qanunvericiliyi
        əsasında aidiyyəti məhkəmə tərəfindən həll olunur.
    </p>
    <p>
        <strong>5.14.</strong>Bu Müqavilənin hər hansı bir müddəasının etibarsız
        hesab edilməsi bu Müqavilənin bütün və ya digər müddəalarının etibarsız
        hesab edilməsinə səbəb olmur.
    </p>
    <p>
        <strong>5.15.</strong>Bu Müqavilə ilə tənzimlənməyən məsələlər Azərbaycan
        Respublikasının qanunvericiliyi ilə tənzimlənir.
    </p>
    <p>
        <strong>5.16.</strong>“BOKT” bu müqavilədə və qanunvericilikdə müəyyən
        edilmiş qaydada kreditin verilməsindən imtina etmək hüququnu özündə
        saxlayır.
    </p>
    <p>
        <strong>5.17.</strong>“Borcalan” aşağıda imza etməklə bu Müqaviləni
        oxuduğunu, şərtlərini başa düşdüyünü təsdiq edir və Müqavilənin şərtləri ilə
        razı olduğunu bildirir.
    </p>
    <p>
        <strong>5.18.</strong>"Borcalan" maliyyə xidmətlərini istehlak edərkən
        qarşılaşdığı çətinliklər və suallarla əlaqədar Azərbaycan Respublikası
        Mərkəzi Bankının ünvanı (Bakı şəhəri, R.Behbudov küçəsi 90,), əlaqə
        nömrəsi: +994 012 966; +99412 493 50 58 və qaynar xətti ilə əlaqə saxlaya
        bilər.
    </p>
    <p>
        <strong>5.19.</strong>Müraciət üçün “BOKT”un əlaqə nömrəsi: +99412 526 26
        25; Sayt ünvanı:
        <a href="https://www.idealkredit.az/">
            https://www.idealkredit.az
        </a>
    </p>
    <p>
        <strong>5.20.</strong>Bu müqavilə eyni hüquqi qüvvəyə malik 2 (iki) nüsxədə
        tərtib edilmişdir və tərəflərin imza və möhürü ilə təsdiq edildikdən sonra
        qüvvəyə minir.
    </p>
    <p>
        _________________________________________________________________________________________________
    </p>
    <p style="text-align: center;">
        ("Borcalan" əl ilə
        <strong>"tanış</strong><strong></strong><strong>oldum</strong><strong></strong><strong>razıyam"</strong><strong></strong>yazır
        və <strong>"tarixi</strong><strong></strong><strong>qeyd</strong><strong></strong><strong>edir"</strong>)
    </p>
    <p style="text-align: center;">
        <strong>6.TƏRƏFLƏRİN REKVİZİTLƏRİ:</strong>
    </p>
    <table style="border: 1px solid;" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td width="352" valign="top">
                    <p>
                        <strong>BOKT:</strong>
                    </p>
                    <p>
                        "İDEAL KREDİT" BOKT
                    </p>
                    <p>
                        VÖEN: 1300480591
                    </p>
                    <p>
                        Direktor: Qubadov Qubad Baxas oğlu
                    </p>
                    <p>
                        Hüquqi ünvan: Bakı şəhəri, F.Xoyski küç. 111"A", m.26
                    </p>
                    <p>
                        Faktiki ünvan: Bakı ş, Binəqədi r, 7 MKR, S.S.Axundov küç,
                        3123-cü məh.
                    </p>
                    <p>
                        Tel: 012 526 26 25
                    </p>
                    <p>
                        BOKT <u>Müqavilə SİMA İMZA ilə imzalanmışdır</u>
                    </p>
                </td>
                <td width="352" valign="top">
                    <p>
                        <strong>Borcalan:</strong>
                    </p>
                    <p th:text="${requestedUser.fullName}">
                        Əsədov Bulud Mübariz oğlu
                    </p>
                    VÖEN:
                    <p th:text="${requestedUser.voen}">
                        1000110022
                    </p>
                    <p th:text="${requestedUser.address}">
                        Ünvan: Bakı şəh, Suraxanı ray, Yeni Suraxanı qəs, Mərkəzi
                        küç.,8-ci döngə,ev.16D
                    </p>
                    Ş/V №:
                    <p th:text="${requestedUser.seriaNo}">
                        AA4053986
                    </p>
                    Ş/V verilmə tarixi:
                    <p th:text="${requestedUser.eventDate}">
                        05 may 2022
                    </p>
                    Ş/V bitmə tarixi:
                    <p th:text="${requestedUser.expDate}">
                        04 may 2032
                    </p>
                    <p>
                        Ş/V verən orqan:
                    </p>
                    Tel:
                    <p th:text="${phoneNumber}">
                        994556000011
                    </p>
                    <p>
                        Borcalan – <u>Müqavilə SİMA İMZA ilə imzalanmışdır</u>
                        <strong></strong>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>