.mirroredWebCamClass {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}


/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: cornflowerblue;
  color: white;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: cornflowerblue;
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -600px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

* {
  box-sizing: border-box
}

.webcamSettingsform .container {
  padding: 16px;
}

.webcamSettingsform label{
  color: black;
}

/* Full-width input fields */
.webcamSettingsform input,
.webcamSettingsform select {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;  
}

.webcamSettingsform input:focus {  
  outline: none;
}
